div.alternate div:nth-of-type(even) button {
  color: #E3A430;
  background-color: #3D67AF;
}
div.alternate div:nth-of-type(even) button button:hover {
  background-color: #000000;
}
div.alternate div:nth-of-type(odd) button {
  color: #3D67AF;
  background-color: #E3A430;
}
div.alternate div:nth-of-type(odd) button button:hover {
  background-color: #120c02;
}