@import "variables.less";

div.alternate div:nth-of-type(even) button {
    color: @brand-secondary;
    background-color: @brand-primary;
    

    &:hover, &:active {
        background-color: darken(@brand-primary,20%);
                
    }
    &:focus{
        outline-color:@brand-primary;
    }
}


div.alternate div:nth-of-type(odd) button {
    color: @brand-primary;
    background-color: @brand-secondary;
    

    &:hover, &:active {
        background-color: darken(@brand-secondary,20%);
                
    }
    &:focus{
        outline-color:@brand-secondary;
    }
}

div.alternate button{
    border-color:   transparent !important;

    &:hover, &:active {
        color: #fff !important;
    }
}
