@using KeepAlive.Web.Utilities
<div>
    @Ajax.ActionLink("Registrati",
                                               "Register", null,
                                               new AccountAjaxOptions()
                                               {
                                                   UpdateTargetId = "account",
                                                   InsertionMode = InsertionMode.Replace,
                                                   HttpMethod = "GET"
                                               },
                                               new { })
</div>