@using KeepAlive.Web.Utilities
<div>
    @Ajax.ActionLink("Hai dimenticato le tue credenziali??",
                                              "Recovery", null,
                                              new AccountAjaxOptions()
                                              {
                                                  UpdateTargetId = "account",
                                                  InsertionMode = InsertionMode.Replace,
                                                  HttpMethod = "GET"
                                                  //OnSuccess = "$.validator.unobtrusive.parse('#account');"
                                              },
                                              new { })

</div>