@using KeepAlive.Web.Utilities
<div>
    @Ajax.ActionLink("Effettua l'accesso",
                                                  "Login", null,
                                                  new AccountAjaxOptions()
                                                  {
                                                      UpdateTargetId = "account",
                                                      InsertionMode = InsertionMode.Replace,
                                                      HttpMethod = "GET"
                                                      //OnSuccess = "$.validator.unobtrusive.parse('#account');"
                                                  },
                                                  new { })

</div>