<div>
    @Ajax.ActionLink("Registrati",
                                               "Register", null,
                                               new AjaxOptions()
                                               {
                                                   UpdateTargetId = "account",
                                                   InsertionMode = InsertionMode.Replace,
                                                   HttpMethod = "GET",
                                                   OnSuccess = "$.validator.unobtrusive.parse('#account');"
                                               },
                                               new { })
</div>