<?xml version="1.0"?>
<connectionStrings>
  <add name="KeepAliveConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\u1100694\Source\Repos\KeepAlive\KeepAlive\App_Data\KeepAliveDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>

<!--Initial Catalog=aspnet-KeepAlive-20180321112630;  Integrated Security=True-->