

<div id="recovery">
    <h2>Recupero Credenziali</h2>

    <div class="row top-margin-20 alternate">

        <div class="bottom-margin-20 col-sm-12">

            <button id="user-recovery" type="button" class="btn btn-block btn-default">
                <span>Recupero Username</span>
            </button>
        </div>

        <div id="pwd-recovery" class="bottom-margin-20 col-sm-12">
            <button class="btn btn-block btn-default" type="button">
                <span>Recupero Password</span>
            </button>
        </div>

    </div>
</div>
@Html.Partial("Partial/Common/MakeLogin")
@Html.Partial("Partial/Common/MakeRegister")



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/js/account.js")
}


