<h2>Recupero Credenziali</h2>

<div class="row top-margin-20 alternate">
    
    <div class="bottom-margin-20 col-sm-12">
        <button class="btn btn-default" type="button">
            <span>Recupero Username</span>
        </button>
    </div>

    <div class="bottom-margin-20 col-sm-12">
        <button class="btn btn-default" type="button">
            <span>Recupero Password</span>
        </button>
    </div>

</div>

