@using KeepAlive.Models

@model Register2ViewModel

<h2>Registrati</h2>
@using (Html.BeginForm("Register2", "Account"))
{
    <div>
        Seleziona una domanda segreta
    </div>
    @Html.DropDownListFor(m => m.DomandaSegreta, new SelectList(Model.DomandeSegrete,"key", "value"), new { @class = "form-control"})



    <div class="g-recaptcha" data-sitekey="6LdHcTwUAAAAAIFoGNGSjl_daxhYsQUWVV9PKWWW"></div>
}

<div>
    @Ajax.ActionLink("Effettua l'accesso",
                                                              "Login", null,
                                                              new AjaxOptions()
                                                              {
                                                                  UpdateTargetId = "account",
                                                                  InsertionMode = InsertionMode.Replace,
                                                                  HttpMethod = "GET"
                                                              },
                                                              new { id = "recover" })

</div>

<script src='https://www.google.com/recaptcha/api.js'></script>